.header {
    margin: 0;
}

.hero {
    height: 20vh;
    background: linear-gradient(to left, darkblue, lightblue);
}

.app-title {
    text-align: center;
}

.container {
    width: 100vw;
    max-width: 100vw;
}

.btn-search {
    width: 95%;
    margin: 0 2vh 2vh 0;
    font-weight: bold;
}

.uv-favorable {
    background: green;
    border-radius: 5px;
}

.uv-moderate {
    background: yellow;
    border-radius: 5px;
}

.uv-severe {
    background: red;
    border-radius: 5px;
}