header {
    background-color: purple;
    color: white;
}

.search-box {
    background-color: green;
    width: 25vw;
}

.displayBox {
    background-color: blue;
}

main {
    background-color: red;
    width: 75vw;
}