.hero {
    background: linear-gradient(to left, darkblue, lightblue);
}

.app-title {
    text-align: center;
}

.container {
    width: 100vw;
    max-width: 100vw;
}

.btn-search {
    width: 100%;
    margin: 0 2vh 2vh 0;
}